@charset "UTF-8";
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; }

body {
  font-family: 'Siemens sans', 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  background: #555f69; }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-track {
  background: #788791; }

::-webkit-scrollbar-thumb {
  background: #0f8287; }

#site {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr auto 1fr; }

#site > header {
  grid-row: 1;
  grid-column: 1/4;
  padding: 10px;
  background: #2d373c;
  color: white;
  display: flex; }

#site > header .flag-icon {
  margin-left: 5px;
  cursor: pointer; }

#site > header span:nth-child(1) {
  flex-grow: 1; }

#site > #plan {
  grid-row: 2;
  grid-column: 1/4; }

#site > footer {
  grid-row: 3;
  grid-column: 1/4;
  padding: 8px;
  background: #2d373c;
  color: white;
  align-items: center;
  display: flex; }

#site > footer .spacer {
  flex-grow: 1; }

#site > footer a {
  color: white; }

#site > footer a div.link {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 3px 10px; }

#site > footer a div.link:hover {
  background: rgba(255, 255, 255, 0.2); }

#site > footer a i {
  font-size: 1em;
  margin-right: 10px; }

.daysContainer {
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  padding: 10px; }

.weekend {
  min-width: 10px;
  min-height: 10px;
  background: #3c464b; }

.day {
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
  flex-grow: 1; }

.day + .day, .day + .weekend, .weekend + .day {
  margin-left: 10px; }

.day header {
  min-width: 20em;
  background: #3c464b;
  color: white;
  padding: 10px; }

.day .meal {
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column; }

.day .meal:nth-child(even) {
  background: #0f8287; }

.day .meal:nth-child(odd) {
  background: #239196; }

.day .meal .spacer {
  flex-grow: 1; }

.day .meal .description {
  flex-grow: 1; }

.day .meal .prices {
  margin-top: -1.5em;
  display: flex;
  flex-direction: row;
  align-items: right; }

.day .meal .price {
  text-align: right;
  font-style: italic; }

.day .meal .price::after {
  content: ' €'; }

.day .meal .price + .price {
  margin-left: 10px;
  font-size: 0.9em;
  line-height: 1.9em;
  vertical-align: bottom; }

@media screen and (max-width: 500px) {
  body {
    font-size: 1em; }
  .daysContainer {
    flex-direction: column;
    padding: 0; }
  .day {
    display: block; }
  .day + .day, .weekend + .day, .day + .weekend {
    margin: 0; }
  .day + .weekend {
    margin-top: 10px; }
  .weekend + .day {
    margin-top: 10px; } }
